{% extends 'shared/base.html' %}
{% block content %}
<main class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <h1>Bem-vindo ao Rinha Dev</h1>
            <p>Descrição do projeto...</p>
            {% if user.is_authenticated %}
            <a class="btn btn-success btn-lg" href="{% url 'repositories' %}" role="button">Meus Repositorios</a>
            {% else %}
            <a class="btn btn-success btn-lg" href="{% url 'login' %}" role="button"><i class="bi bi-github"></i> Login</a>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <img src="https://via.placeholder.com/500x300" class="img-fluid" alt="Imagem CTA">
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
{% endblock %}