{% extends 'shared/base.html' %}
{% block content %}
<main class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            {% for repositorio in repositorios_git %}
            <div class="card mb-3">
                <div class="card-body">
                    {% if repositorio.is_registred %}
                    <h5 class="card-title">{{ repositorio.name }} ✅</h5>
                    <h6 class="card-text">Criador: {{ repositorio.owner }}</h6>
                    {% else %}
                    <h5 class="card-title">{{ repositorio.name }} ❌</h5>
                    <h6 class="card-text">Criador: {{ repositorio.owner }}</h6>
                    <p class="card-text">Descrição: {{ repositorio.description }}</p>
                    <div class="buttons">
                        {% if repositorio.is_registred %}
                        <div class="btn-group" role="group" aria-label="Botões de ação">
                            <form method="post" action="{% url 'add_or_update_repositorio' %}">
                                {% csrf_token %}
                                <input type="hidden" name="repositorio_url" value="{{ repositorio.url }}">
                                <input type="hidden" name="form_type" value="update">                                
                                <button type="submit" class="btn btn-primary btn-sm">Atualizar</button>
                            </form>
                            <form method="post" action="{% url 'deletar_repositorio' %}">
                                {% csrf_token %}
                                <input type="hidden" name="repositorio_id" value="{{ repositorio.repository_id }}">
                                <button type="submit" class="btn btn-danger btn-sm ms-1">Remover</button>
                            </form>
                        </div>
                        {% else %}
                        <form method="post" action="{% url 'add_or_update_repositorio' %}">
                            {% csrf_token %}
                            <input type="hidden" name="repositorio_url" value="{{ repositorio.url }}">
                            <input type="hidden" name="form_type" value="add">                                
                            <button type="submit" class="btn btn-success btn-sm">Adicionar</button>
                        </form>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-left">
                    {% if repositorios_git.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page_git={{ repositorios_git.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
            
                    {% for num in repositorios_git.paginator.page_range %}
                        <li class="page-item {% if num == repositorios_git.number %}active{% endif %}">
                            <a class="page-link" href="?page_git={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
            
                    {% if repositorios_git.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page_git={{ repositorios_git.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="col-lg-6">
            {% for repositorio in repositorios_db %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ repositorio.name }}</h5>
                    <h6 class="card-text">Criador: {{ repositorio.owner }}</h6>
                    <h6 class="card-text">Adicionado por: {{ repositorio.added_by }}</h6>
                    <h6 class="card-text">Linguagens Utilizadas: {{ repositorio.languages }}</h6>
                    <table class="table table-bordered">
                        <tbody>
                            <tr class="table-primary">
                                <th scope="row">Número de commits</th>
                                <td>{{ repositorio.commit_count }}</td>
                            </tr>
                            <tr class="table-secondary">
                                <th scope="row">Número de linhas de código</th>
                                <td>{{ repositorio.line_count }}</td>
                            </tr>
                            <tr class="table-success">
                                <th scope="row">Número de issues resolvidas</th>
                                <td>{{ repositorio.issues_count }}</td>
                            </tr>
                            <tr class="table-danger">
                                <th scope="row">Número de pull requests aceitos</th>
                                <td>{{ repositorio.pulls_count }}</td>
                            </tr>
                            <tr class="table-warning">
                                <th scope="row">Número de estrelas</th>
                                <td>{{ repositorio.stars }}</td>
                            </tr>
                            <tr class="table-warning">
                                <th scope="row">Pontuação</th>
                                <td>{{ repositorio.pontuacao }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="buttons">
                        <div class="btn-group" role="group" aria-label="Botões de ação">
                            <form method="post" action="{% url 'add_or_update_repositorio' %}">
                                {% csrf_token %}
                                <input type="hidden" name="repositorio_url" value="{{ repositorio.url }}">
                                <input type="hidden" name="form_type" value="update">                                   <button type="submit" class="btn btn-primary btn-sm">Atualizar</button>
                            </form>
                            <form method="post" action="{% url 'deletar_repositorio'%}">
                                {% csrf_token %}
                                <input type="hidden" name="repositorio_id" value="{{ repositorio.id }}">
                                <button type="submit" class="btn btn-danger btn-sm ms-1">Remover</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-left">
                    {% if repositorios_db.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page_db={{ repositorios_db.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
            
                    {% for num in repositorios_db.paginator.page_range %}
                        <li class="page-item {% if num == repositorios_db.number %}active{% endif %}">
                            <a class="page-link" href="?page_db={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
            
                    {% if repositorios_db.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page_db={{ repositorios_db.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</main>
{% endblock %}